/*#home{

    
    min-height: 100vh;
    align-items: center;
    background: #ebdbc8;
    gap: 1rem;
}
.home-text{
    flex: 1 1 17rem;
}




p .tex {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}
.home-text h1{
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;

}
.home-text h3{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: capitalize;
    margin: 0.5rem 0 1.4rem;
}
.btn-home{
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}
.btn-home:hover{
    color: white;
    background: var(--second-color);
}















@media (max-width:1150px){
    header{
        padding: 18px 7%;
    }
    .home{
        padding: 50px 7%;
    }
    .home-text h1{
        font-size: 3rem;
    }
    .home-text h2{
        font-size: 1.5rem;
    }
 }

 @media (max-width:991px){
    .home-text{
        font-size: 0.9rem;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .home-text h3{
        font-size: 1.2rem;
    }
    
 }

 @media (max-width: 768px){
    .home-text{
        padding-top: inherit;
    }
}*/









.container1{
    
    background: rgba(250, 240, 236, 0.514);

}

.home-text{

    font-weight: bold;
    
}
.title{
    color: rgb(170, 134, 101);
    font-weight: bolder;
    font-size: 60px;
}

.btn1{
    


    border-radius: 9px;
    border: none;
    border: 2px solid #816655;
    color: #816655;
    background: white;
    font-weight: bold;
    transition: .5s;
    padding: 10px;


}
.btn1:hover{
    background: #bd967c;
    color: white;

}