/* app */
.app-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

.app-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
}
.app-text{
    flex: 1 1 21rem;
}
.app-img{
    flex: 1 1 21rem;
}