 /* about */
 .about{
    display: flex;
    flex-wrap: wrap;
    background: #ebd8c43b;
    gap: 1.5rem;
 }

 .about-img{
    flex: 1 1 17rem;
 }
 .about-text{
    flex: 1 1 17rem;
    
 }
 .about-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
 }
 .about-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
 }