 /* contact */
 .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .social a{
    font-size: 27px;
    margin: 0.5rem;
 }
 .social a {
    padding: 5px;
    color: black;
    
 }
 .social a .bx:hover{
    background: var(--main-color);
 }
 .links{
    margin: 1rem 0 1rem;

 }
 .links a{
    font-size: 1rem;
    font-weight: 500;
    color: #1e3932;
    padding: 1rem;
 }
 .links a:hover{
    color: var(--main-color);
 }
 .contact p{
    text-align: center;

 }